<!DOCTYPE html>
<html>
  <head>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9V14FKD45Q"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9V14FKD45Q');
</script>
    
    <title>{{ page.title }}</title>
    <meta http-equiv="refresh" content="0;url={{ page.external_url }}">
    
  </head>
</html>
